.App {
  display: flex;
  flex-direction: column;
  height: 95vh; /* Ajusta a altura para ser a da viewport */
  margin: 0; /* Remove qualquer margem externa */
  overflow: hidden; /* Impede rolagem */
  text-align: center;
}

.App-logo {
  width: 128px;
  height: 128px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 25%;
}
@media (max-width: 720px){
  .App-logo {
    width: 48px;
    height: 48px;
  }
}

.App-intro {
  font-family: 'Courier New', serif;
  font-weight: bold;
  font-size: 14px;
  text-align: justify;
  margin: 0 30px; /* Ajuste para evitar overflow */
  overflow: hidden; /* Evita que o texto cause rolagem */
}

.App-navbar {
  background-color: #ffffff;
  flex: 0 0 auto; /* Navbar size is based on content, does not grow or shrink */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0; /* Ajuste de padding conforme necessário */
}

.topnavbar {
  background-color: #ffffff;
  flex: 0 0 auto; /* Navbar size is based on content, does not grow or shrink */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0; /* Ajuste de padding conforme necessário */
  margin-left: 16%;
  margin-right: 16%;
}

.botnavbar {
  background-color: #ffffff;
  flex: 0 0 auto; /* Navbar size is based on content, does not grow or shrink */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  margin-left: 13%;
  margin-right: 13%;
}

.App-inter {
  flex: 1 1 auto; /* Cresce para preencher o espaço disponível */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  
  margin: 0 12px; /* Margem horizontal ajustada para evitar overflow */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura/altura */
  overflow: hidden; /* Impede qualquer rolagem interna */
}
@media (max-width: 720px){
  .App-inter {
    align-items: flex-start;
  }
}



.App-quadro, .App-quadro-result {
  margin: 12px;
  border: 2px solid #000000;
  border-radius: 6%;
  padding: 15px; /* Adiciona espaço interno */
  box-shadow: inset 0 0 0 2px #FFF; /* Cria uma borda interna branca */
  box-sizing: border-box; /* Garante que padding e borda sejam incluídos no cálculo da dimensão */
}

.App-input, .App-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Courier New', serif;
  font-weight: bold;
  font-size: 24px;
  margin: 2% 0; /* Ajusta as margens existentes */
  padding: 10px; /* Adiciona um padding para espaço interno */
}


.input {
  font-family: 'Courier New', serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-radius: 12px;
  margin: 8px 15%; /* Ajuste de margem para garantir que caibam na tela */
}

.input-button {
  font-family: 'Courier New', serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-radius: 12px;
  margin-right: 25%;
  margin-left: 25%; /* Ajuste de margem para garantir que caibam na tela */
}

.input-button2 {
  font-family: 'Courier New', serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-radius: 12px;
  margin-right: 25%;
  margin-left: 25%; /* Ajuste de margem para garantir que caibam na tela */
}

@media (max-width: 720px){
  .App-input, .App-result, .input, .input-button, .input-button2 {
    font-size: 16px;
  }
}
